.card{
margin: 20px;
background-color: aquamarine;
align-content: center;
}

.title{
    color: aqua;
    padding: 20px;
    align-content: center;
    margin: auto;
    width: 80%;
    height: 100px;
}